# Ignore build output
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# VS-related folders
.vscode/
.vs/

# Ignore user-specific files
*.user
*.suo

# Ignore output
map Routing Solution/Map_Routing/myOutput/results.txt

# Ignore generated editorconfig or other generated MSBuild files
*.GeneratedMSBuildEditorConfig.editorconfig
